
// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;
*{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

h1{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 49.32px;
    letter-spacing: 6.23px;
    text-transform: uppercase;
    text-align: center;
    color: $White;
}

@media screen and (min-width : 800px ){
    h1{
        font-size: 56px;
        line-height: 69.05px;
        letter-spacing: 8.75px;
    }
}