:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);


    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fraunces', serif;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    background-color: #fffbf8;
}
.img-desktop{
    display: none;
    width: 100%;
}
.img-mobile{
    display: block;
    width: 100%;
}

/* 
NAVBAR
*/
.navbar{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem 0 2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-layout{
    display: none;
}
.logo{
    padding-left: 8vw;
}
.hide{
    opacity: 0.5;
}
.hamburger{
    transition: all 0.4s ease;
    padding-right: 8vw;
}

.menu-mobile{
    position: absolute;
    top: 10vh;
    left: 8vw;
    width: 84vw;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.triangle{
    width: 0;
    height: 0;
    border-bottom: 2.5rem solid var(--White);
    border-left: 2.5rem solid transparent;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--White);

    padding: 3.6rem 0;
}
.menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.menu a:hover{
    color: var(--Very-dark-grayish-blue);
}
.menu a{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}
.btn{
    font-family: 'Fraunces', serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.1rem 2.5rem;
    background-color: var(--Yellow);
    border-radius: 55rem;
    cursor: pointer;
    color: var(--Very-dark-desaturated-blue);
}
.btn:hover{
    color: var(--Very-dark-grayish-blue);
    background-color: var(--Yellow);
}

/*
header
*/

.hero-banner{
    position: relative;
}
.hero-text{
    position: absolute;

    top: 25%;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
h1{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: var(--White);

    text-align: center;
    letter-spacing: 0.7rem;
}
/*
MIDDLE SECTION
*/
.text-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 2rem;

    padding: 3.5rem 2rem;

}
.title{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
    text-align: center;
    font-size: 2rem;
}
.description{
    color: var(--Grayish-blue);
    text-align: center;
    line-height: 1.5rem;
}
.btn-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-wrapper a{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--Very-dark-desaturated-blue);
    padding: 0 1rem;
}
.link-decoration{
    position: relative;
    width: 90%;
    height: 0.7rem;
    transform: translateY(-0.6rem);
    z-index: -1;
    border-radius: 0.5rem;
    opacity: 0.35;
    transition: all 0.5s ease;
}
.yellow{
    background-color: var(--Yellow);
}
.red{
    background-color: var(--Soft-red);
}
.link-decoration:hover{
    width: 100%;
    opacity: 1;
}
@media screen and (min-width: 1440px)
{
    
    .img-mobile{
        display: none;
    }
    .img-desktop{
        display: block;
    }

    /*
    NAVBAR
    */
    .navbar{     
    padding: 1rem 0 1rem 0;
    }
    .logo{
        width: 15rem;
        padding-left: 5vw;
    }
    .menu-layout{
        display: flex;
        position: static;
    }
    .hamburger{
        display: none;
    }
    .triangle{
        display: none;
    }
    .menu{
        background-color: transparent;
        flex-direction: row;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-right: 5vw;
    }
    .menu ul{
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
    .menu a{
        color: var(--White);
    }
    .btn{
        background-color: var(--White);
    }
    /*
    header
    */
    .hero-text{
        gap: 5rem;
    }
    h1{
        font-size: 4rem;
    }
}
